<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Cortada</title>
</head>
<body>
  <div class="mx-auto w-1/2 rounded shadow-lg border overflow-hidden mt-5 bg-white">
    <div class="relative pb-[60%]">
      <img src="static/cortada.jpg" class="absolute object-cover h-full w-full rounded-lg">
    </div>
    <div class="p-4 text-sm font-medium text-gray-700"><h3> - Lávate las manos. Esto ayuda a evitar infecciones. <br>
      - Detén el sangrado. En el caso de los cortes y rasguños menores, por lo general, el sangrado se detiene solo. Si es necesario, aplica presión suave con una venda o paño limpios y eleva la herida hasta que se detenga el sangrado. <br>
      - Limpia la herida. Lava la herida con agua. Mantener la herida debajo del agua corriente del grifo disminuirá el riesgo de tener una infección. Lava con jabón la zona que rodea la herida. Evita que entre jabón en la herida. Además, no utilices agua oxigenada ni yodo, que pueden irritar. Quita cualquier suciedad o restos con pinzas previamente limpiadas con alcohol. Consulta con el médico si no puedes quitar todos los restos. <br>
      - Aplica un antibiótico o vaselina. Aplica una capa fina de ungüento antibiótico o vaselina para mantener húmeda la superficie y ayudar a evitar la formación de cicatrices. En algunas personas, determinados ingredientes que se encuentran en algunos ungüentos pueden causar una erupción cutánea leve. Si aparece una erupción, suspende el uso del ungüento. <br>
      - Tapa la herida. Coloca un vendaje, una gasa enrollada o una gasa sostenida en el lugar con cinta de papel. Cubrir la herida la mantiene limpia. Si la herida solo es un rasguño menor o una raspadura, no la cubras. <br>
      - Cambia el apósito. Cámbialo al menos una vez al día o siempre que el vendaje se moje o se ensucie. <br>
      - Vacúnate contra el tétanos. Vacúnate contra el tétanos si no lo has hecho en los últimos cinco años y la herida es profunda o está sucia. <br>
      - Busca signos de infección. Consulta con el médico si observas signos de infección en la piel o cerca de la herida, como enrojecimiento, mayor dolor, drenaje, calor o hinchazón. <br></h3></div>
  </div>
</body>
</html>