<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Login</title>
</head>
  <body>
    <br><br>
    <div class="mx-auto w-full max-w-xs">
      <div class="relative mb-3">
          <label class="absolute bg-white px-1 text-xs block text-gray-600 top-2 left-2">Nombre</label>
          <div class="mt-1">
              <input type="text" value="Nombre" class="border border-gray-300 focus:outline-blue-400 rounded w-full h-14 p-3 pt-8 text-sm">
          </div>
      </div>
      <div class="relative mb-3">
        <label class="absolute bg-white px-1 text-xs block text-gray-600 top-2 left-2">Apellido</label>
        <div class="mt-1">
            <input type="text" value="Apellido" class="border border-gray-300 focus:outline-blue-400 rounded w-full h-14 p-3 pt-8 text-sm">
        </div>
      </div>
      <div class="relative mb-3">
        <label class="absolute bg-white px-1 text-xs block text-gray-600 top-2 left-2">Email</label>
        <div class="mt-1">
            <input type="text" value="name@example.com" class="border border-gray-300 focus:outline-blue-400 rounded w-full h-14 p-3 pt-8 text-sm">
        </div>
      </div>
      <div class="relative mb-3">
          <label class="absolute bg-white px-1 text-xs block text-gray-600 top-2 left-2">Password</label>
          <div class="mt-1">
              <input type="password" value="xyz123" class="border border-gray-300 focus:outline-blue-400 rounded w-full h-14 p-3 pt-8 text-sm">
          </div>
      </div>
      </div>

    <!-- <form action="" method="POST">
      <h2>Ingrese nuevo usuario</h2>
      Nombre:
      <input type="text" name="" id=""><br>
      Apellido:
      <input type="text" name="" id=""><br>
      Mail:   
      <input type="text" name="" id=""><br>
      Password:
      <input type="text" name="" id=""><br>
      <input type="submit" value="INGRESAR">

    </form> -->
  </body>
</html>