<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>registro</title>
</head>

<body>

    <div class="flex min-h-full justify-center">
        <div class="flex flex-1 flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
            <div class="mx-auto w-full max-w-sm lg:w-96">
                <div class="flex justify-between">
                    <img class="object-contain h-24 w-40"
                        src="/static/1.jpg"
                        alt="">
                    <h2 class="pt-3 pr-12 mt-6 text-3xl font-bold tracking-tight text-gray-900">
                         Registrate</h2>
                </div>

                <div class="mt-8">

                    <div>
                        <h3 class="text-sm font-medium text-gray-700 pb-8">Es rapido y facil :)</h3>


                        <div class="  space-y-1">
                            <label for="name" class="block text-sm font-medium text-gray-700 ">Ingrese su Nombre y
                                Apellido</label>
                            <div class="mt-1">
                                <input id="name" name="name" type="name" autocomplete="current-name" required
                                    class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                            </div>
                        </div>

                        <div class="mt-6">
                            <!-- <form action="#" method="POST" class="space-y-6"> -->
                                <div>
                                    <label for="email" class="block text-sm font-medium text-gray-700">Ingrese su Email
                                    </label>
                                    <div class="mt-1">
                                        <input id="email" name="email" type="email" autocomplete="email" required
                                            class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                                    </div>
                                </div>

                                <div class="mt-6">
                                    <!-- <form action="#" method="POST" class="space-y-6"> -->
                                        <div>
                                            <label for="seguro" class="block text-sm font-medium text-gray-700">Ingrese
                                                su Seguro Medico
                                            </label>
                                            <div class="mt-1">
                                                <input id="seguro medico" name="seguro medico" type="seguro medico"
                                                    autocomplete="email" required
                                                    class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                                            </div>
                                        </div>


                                        <div class="space-y-1 pt-6">
                                            <label for="password" class="block text-sm font-medium text-gray-700 ">Nueva
                                                contrasenha</label>
                                            <div class="mt-1">
                                                <input id="password" name="password" type="password"
                                                    autocomplete="current-password" required
                                                    class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                                            </div>
                                        </div>

                                        <div class="flex items-center justify-between">
                                            <div class="flex items-center">
                                                <input id="remember-me" name="remember-me" type="checkbox"
                                                    class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                                                <label for="remember-me" class="ml-2 block text-sm text-gray-900">
                                                    Recuerdame
                                                </label>
                                            </div>
                                        </div>
                                            
                                            <div class="mt-6">
                                            <a href="/">
                                            <button
                                                class="bg-[#E37E6F] w-full py-3 rounded-xl text-white shadow-xl hover:shadow-inner focus:outline-none transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105">
                                                Registrar
                                            </button>
                                            </a>
                                        </div>

                                        
                                        <div>
                                    <!-- </form> -->
                                </div>
                        </div>
                    </div>
                    
                </div>

            <div class="flex-1">
            <img class="h-full w-full " src="/static/Mobile_login-pana(3).png" alt="">
         </div>
                



            </div>
            
    </div>


</body>

</html>
<div>